.composition {
	position: relative;
	&__photo {
		width: 55%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .7);
		position: absolute;

		&--p1 {
			top: -2rem;
			left: 0;
		}

		&--p2 {
			top: 10rem;
			left: 20%;
			z-index: 1;
		}

		&--p3 {
			top: 0rem;
			right: 2rem;
		}
	}
}
