*,
*::after,
*::before {
	margin: 0px;
	padding: 0px; /*Universal CSS reset */
	box-sizing: inherit;
}

html {
	font-size: 62.5%; /*  to make REM calculations way EASIER*/
}

body {
	box-sizing: border-box;
}
